<h1>Addpoint</h1>

<%= form_for History.create do |f| %>
	<text class="col-md-3 col-xs-6">Pet Weight:</text>
    <%= f.number_field :pet_weight %>

    <br><br>
    <text class="col-md-3 col-xs-6">Water Volume in ml:</text>
    <%= f.number_field :water_volume %>

    <br><br>
    <text class="col-md-3 col-xs-6">Food Weight in grams:</text>
    <%= f.number_field :food_weight %>
    
    <br><br>
    <%= submit_tag 'Add Point' %>
<% end %>
