<head>

</head>
<h1>History</h1>
<div class="col-md-4">
<container>
<table style="width:100%">
<caption align="left">Pet's Weight</caption>


<tr>
<td>ID</td>
<td>Timestamp</td>
<td>Pet's Weight</td>
</tr>
<tr>
<%== @history.each do |hist| %>
	<td>
		<%= hist.id %>
	</td>
	<td>
		<%= hist.updated_at%>
	</td>
	<td>
		<%= hist.pet_weight%>
	</td>
</tr>
<% end %>


</table>
</container>
<footer><p align="right">moreinfo >> </p></footer>
</div>

<div class="col-md-4">
<container>
<table style="width:100%">
<caption align="left">Food</caption>
<td>ID</td>
<td>Timestamp</td>
<td>Food Weight</td>
</tr>
<tr>
<%== @history.each do |hist| %>
	<td>
		<%= hist.id %>
	</td>
	<td>
		<%= hist.updated_at%>
	</td>
	<td>
		<%= hist.food_weight%>
	</td>
</tr>
<% end %>	
</table>
</container>
<footer><p align="right">moreinfo >> </p></footer>
</div>

<div class="col-md-4">
<container>
<table style="width:100%" >
<caption align="left">Water</caption>
<td>ID</td>
<td>Timestamp</td>
<td>Water Volume</td>
</tr>
<tr>
<%== @history.each do |hist| %>
	<td>
		<%= hist.id %>
	</td>
	<td>
		<%= hist.updated_at%>
	</td>
	<td>
		<%= hist.water_volume%>
	</td>
</tr>
<% end %>
</table>
</container>
<footer><p align="right">moreinfo >> </p></footer>
</div>